{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if @blog.logo}}
                    <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                {{else}}
                    {{@blog.title}}
                {{/if}}
            </h1>
            <h2 class="site-description">{{@blog.description}}</h2>
        </div>
        {{> "site-nav"}}
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <div class="post-full-content juniper-homepage">
            <h1>Swordplay anyone?</h1>

            <p>
                I am forming a swordplay group in Bend. Please click around this website to get a sense of what swordplay means to me, then get in touch with me at <a href="mailto:contact@juniperswordplay.com">contact@juniperswordplay.com</a>. Or call/text <a href="tel:1-541-728-3464">541-728-3464</a>. Practices start April 5 at 7am at the Juniper Elementary gym.
            </p>

            <p>
                -- Eric Artzt, coach/organizer
            </p>

        </div>
 
       <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>
